In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data.csv",parse_dates=['tpep_pickup_datetime','tpep_dropoff_datetime'],
                   date_format = '%Y-%m-%d-%H-%M-%S',
                   low_memory=False ) 

data

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,N,238,239,1.0,6.00,3.00,0.5,1.47,0.00,0.3,11.27,2.5
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,N,239,238,1.0,7.00,3.00,0.5,1.50,0.00,0.3,12.30,2.5
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,N,238,238,1.0,6.00,3.00,0.5,1.00,0.00,0.3,10.80,2.5
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,N,238,151,1.0,5.50,0.50,0.5,1.36,0.00,0.3,8.16,0.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,N,193,193,2.0,3.50,0.50,0.5,0.00,0.00,0.3,4.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6405003,NaN,2020-01-31 22:51:00,2020-01-31 23:22:00,NaN,3.24,NaN,NaN,237,234,NaN,17.59,2.75,0.5,0.00,0.00,0.3,21.14,0.0
6405004,NaN,2020-01-31 22:10:00,2020-01-31 23:26:00,NaN,22.13,NaN,NaN,259,45,NaN,46.67,2.75,0.5,0.00,12.24,0.3,62.46,0.0
6405005,NaN,2020-01-31 22:50:07,2020-01-31 23:17:57,NaN,10.51,NaN,NaN,137,169,NaN,48.85,2.75,0.0,0.00,0.00,0.3,51.90,0.0
6405006,NaN,2020-01-31 22:25:53,2020-01-31 22:48:32,NaN,5.49,NaN,NaN,50,42,NaN,27.17,2.75,0.0,0.00,0.00,0.3,30.22,0.0
6405007,NaN,2020-01-31 22:44:00,2020-01-31 23:06:00,NaN,11.60,NaN,NaN,179,205,NaN,54.56,2.75,0.5,0.00,0.00,0.3,58.11,0.0

parse_dates: Automatically converts the specified columns to datetime objects when reading. In this case, 'tpep_pickup_datetime' and 'tpep_dropoff_datetime' will be converted from strings to dates/times.

date_format='%Y-%m-%d-%H-%M-%S': Specifies the format of the dates in the columns specified in parse_dates. This helps Pandas correctly interpret the values â€‹â€‹during conversion

low_memory=False: Pandas uses this parameter to handle large datasets. If set to False, Pandas will process all columns at once instead of loading them in chunks.

## 1- Extract all trips with trip_distance larger than 50

In [3]:
data[data["trip_distance"]>=50]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
23842,2.0,2020-01-01 01:53:07,2020-01-01 03:54:41,1.0,52.30,5.0,N,262,265,1.0,300.00,0.00,0.0,61.78,6.12,0.3,370.70,2.5
39013,2.0,2020-01-01 02:05:07,2020-01-01 03:03:10,1.0,51.23,5.0,N,264,264,1.0,329.00,0.00,0.5,100.78,6.12,0.3,436.70,0.0
41620,1.0,2020-01-01 03:05:54,2020-01-01 04:16:26,1.0,53.80,5.0,N,132,265,1.0,250.00,0.00,0.0,53.35,16.62,0.3,320.27,0.0
58262,2.0,2020-01-01 05:36:12,2020-01-01 06:40:06,1.0,55.23,5.0,N,132,265,2.0,170.00,0.00,0.5,0.00,18.26,0.3,189.06,0.0
63024,2.0,2020-01-01 07:40:30,2020-01-01 08:40:01,1.0,54.19,5.0,N,132,265,1.0,230.00,0.00,0.0,0.00,12.24,0.3,242.54,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6326169,2.0,2020-01-31 22:47:26,2020-01-31 23:49:14,1.0,51.83,5.0,N,132,265,1.0,220.00,0.00,0.5,48.96,23.99,0.3,293.75,0.0
6331181,2.0,2020-01-31 23:45:36,2020-02-01 01:00:25,5.0,57.99,4.0,N,107,265,1.0,245.00,0.50,0.5,38.24,6.12,0.3,293.16,2.5
6333801,2.0,2020-01-31 23:24:16,2020-02-01 01:32:56,1.0,52.97,4.0,N,264,265,1.0,227.00,0.50,0.5,46.16,0.00,0.3,276.96,2.5
6397132,NaN,2020-01-28 11:54:00,2020-01-28 19:35:00,NaN,60.36,NaN,NaN,17,61,NaN,12.04,0.00,0.5,0.00,12.24,0.3,25.08,0.0
6398446,NaN,2020-01-28 07:37:00,2020-01-28 08:42:00,NaN,210240.07,NaN,NaN,76,231,NaN,37.77,2.75,0.5,0.00,0.00,0.3,41.32,0.0

## 2- Extract all trips where payment_type is missing

In [4]:
data[data["payment_type"].isnull()]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
6339567,NaN,2020-01-01 08:51:00,2020-01-01 09:19:00,NaN,13.69,NaN,NaN,136,232,NaN,51.05,2.75,0.5,0.0,0.00,0.3,54.60,0.0
6339568,NaN,2020-01-01 08:38:43,2020-01-01 08:51:08,NaN,3.42,NaN,NaN,121,9,NaN,27.06,2.75,0.0,0.0,0.00,0.3,30.11,0.0
6339569,NaN,2020-01-01 08:27:00,2020-01-01 08:32:00,NaN,2.20,NaN,NaN,197,216,NaN,24.36,2.75,0.5,0.0,0.00,0.3,27.91,0.0
6339570,NaN,2020-01-01 08:46:00,2020-01-01 08:57:00,NaN,0.84,NaN,NaN,262,236,NaN,26.08,2.75,0.5,0.0,0.00,0.3,29.63,0.0
6339571,NaN,2020-01-01 08:21:00,2020-01-01 08:38:00,NaN,7.24,NaN,NaN,45,142,NaN,25.28,2.75,0.5,0.0,0.00,0.3,28.83,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6405003,NaN,2020-01-31 22:51:00,2020-01-31 23:22:00,NaN,3.24,NaN,NaN,237,234,NaN,17.59,2.75,0.5,0.0,0.00,0.3,21.14,0.0
6405004,NaN,2020-01-31 22:10:00,2020-01-31 23:26:00,NaN,22.13,NaN,NaN,259,45,NaN,46.67,2.75,0.5,0.0,12.24,0.3,62.46,0.0
6405005,NaN,2020-01-31 22:50:07,2020-01-31 23:17:57,NaN,10.51,NaN,NaN,137,169,NaN,48.85,2.75,0.0,0.0,0.00,0.3,51.90,0.0
6405006,NaN,2020-01-31 22:25:53,2020-01-31 22:48:32,NaN,5.49,NaN,NaN,50,42,NaN,27.17,2.75,0.0,0.0,0.00,0.3,30.22,0.0
6405007,NaN,2020-01-31 22:44:00,2020-01-31 23:06:00,NaN,11.60,NaN,NaN,179,205,NaN,54.56,2.75,0.5,0.0,0.00,0.3,58.11,0.0

## 3- For each (PULocationID, DOLocationID) pair, determine the number of trips

In [5]:
data.groupby(["PULocationID","DOLocationID"]).size().reset_index(name='Numeber of trips') 
# for a better visualization we use the command .reset_index(name='Numeber of trips')

       PULocationID  DOLocationID  Numeber of trips
0                 1             1               638
1                 1            50                 1
2                 1            68                 1
3                 1           138                 2
4                 1           140                 1
...             ...           ...               ...
31272           265           259                 2
31273           265           261                 1
31274           265           263                 4
31275           265           264               317
31276           265           265              2508

[31277 rows x 3 columns]

## 4- Save all rows with missing VendorID, passenger_count, store_and_fwd_flag, payment_type in a new dataframe called bad, and remove those rows from the original dataframe.

In [6]:
bad = data[data[["VendorID", "passenger_count", "store_and_fwd_flag", "payment_type"]].isnull().any(axis=1)] 
bad
#axis = 1 to "see" the rows with at least a NA in that specific col

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
6339567,NaN,2020-01-01 08:51:00,2020-01-01 09:19:00,NaN,13.69,NaN,NaN,136,232,NaN,51.05,2.75,0.5,0.0,0.00,0.3,54.60,0.0
6339568,NaN,2020-01-01 08:38:43,2020-01-01 08:51:08,NaN,3.42,NaN,NaN,121,9,NaN,27.06,2.75,0.0,0.0,0.00,0.3,30.11,0.0
6339569,NaN,2020-01-01 08:27:00,2020-01-01 08:32:00,NaN,2.20,NaN,NaN,197,216,NaN,24.36,2.75,0.5,0.0,0.00,0.3,27.91,0.0
6339570,NaN,2020-01-01 08:46:00,2020-01-01 08:57:00,NaN,0.84,NaN,NaN,262,236,NaN,26.08,2.75,0.5,0.0,0.00,0.3,29.63,0.0
6339571,NaN,2020-01-01 08:21:00,2020-01-01 08:38:00,NaN,7.24,NaN,NaN,45,142,NaN,25.28,2.75,0.5,0.0,0.00,0.3,28.83,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6405003,NaN,2020-01-31 22:51:00,2020-01-31 23:22:00,NaN,3.24,NaN,NaN,237,234,NaN,17.59,2.75,0.5,0.0,0.00,0.3,21.14,0.0
6405004,NaN,2020-01-31 22:10:00,2020-01-31 23:26:00,NaN,22.13,NaN,NaN,259,45,NaN,46.67,2.75,0.5,0.0,12.24,0.3,62.46,0.0
6405005,NaN,2020-01-31 22:50:07,2020-01-31 23:17:57,NaN,10.51,NaN,NaN,137,169,NaN,48.85,2.75,0.0,0.0,0.00,0.3,51.90,0.0
6405006,NaN,2020-01-31 22:25:53,2020-01-31 22:48:32,NaN,5.49,NaN,NaN,50,42,NaN,27.17,2.75,0.0,0.0,0.00,0.3,30.22,0.0
6405007,NaN,2020-01-31 22:44:00,2020-01-31 23:06:00,NaN,11.60,NaN,NaN,179,205,NaN,54.56,2.75,0.5,0.0,0.00,0.3,58.11,0.0

In [7]:
data = data.drop(bad.index)
data

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6339562,2.0,2020-01-31 23:38:07,2020-01-31 23:52:21,1.0,2.10,1.0,N,163,246,1.0,11.0,0.5,0.5,2.96,0.0,0.3,17.76,2.5
6339563,2.0,2020-01-31 23:00:18,2020-01-31 23:19:18,1.0,2.13,1.0,N,164,79,1.0,13.0,0.5,0.5,3.36,0.0,0.3,20.16,2.5
6339564,2.0,2020-01-31 23:24:22,2020-01-31 23:40:39,1.0,2.55,1.0,N,79,68,1.0,12.5,0.5,0.5,3.26,0.0,0.3,19.56,2.5
6339565,2.0,2020-01-31 23:44:22,2020-01-31 23:54:00,1.0,1.61,1.0,N,100,142,2.0,8.5,0.5,0.5,0.00,0.0,0.3,12.30,2.5
6339566,2.0,2020-01-31 23:19:37,2020-01-31 23:20:41,1.0,0.00,1.0,N,193,193,1.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0

## 5- Add a duration column storing how long each trip has taken (use tpep_pickup_datetime, tpep_dropoff_datetime)

In [27]:
data["tpep_pickup_datetime"]=pd.to_datetime(data["tpep_pickup_datetime"], format='mixed')
data["tpep_dropoff_datetime"]=pd.to_datetime(data["tpep_dropoff_datetime"], format='mixed')

In [28]:
data["trip_duration"] = data["tpep_dropoff_datetime"] - data["tpep_pickup_datetime"]
data

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,trip_duration,30_min_interval
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5,0 days 00:04:48,00:00-00:30
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5,0 days 00:07:25,00:30-01:00
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5,0 days 00:06:11,00:30-01:00
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0,0 days 00:04:51,00:30-01:00
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0,0 days 00:02:18,00:00-00:30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6339562,2.0,2020-01-31 23:38:07,2020-01-31 23:52:21,1.0,2.10,1.0,N,163,246,1.0,11.0,0.5,0.5,2.96,0.0,0.3,17.76,2.5,0 days 00:14:14,23:30-00:00
6339563,2.0,2020-01-31 23:00:18,2020-01-31 23:19:18,1.0,2.13,1.0,N,164,79,1.0,13.0,0.5,0.5,3.36,0.0,0.3,20.16,2.5,0 days 00:19:00,23:00-23:30
6339564,2.0,2020-01-31 23:24:22,2020-01-31 23:40:39,1.0,2.55,1.0,N,79,68,1.0,12.5,0.5,0.5,3.26,0.0,0.3,19.56,2.5,0 days 00:16:17,23:00-23:30
6339565,2.0,2020-01-31 23:44:22,2020-01-31 23:54:00,1.0,1.61,1.0,N,100,142,2.0,8.5,0.5,0.5,0.00,0.0,0.3,12.30,2.5,0 days 00:09:38,23:30-00:00
6339566,2.0,2020-01-31 23:19:37,2020-01-31 23:20:41,1.0,0.00,1.0,N,193,193,1.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0 days 00:01:04,23:00-23:30

## 6- For each pickup location, determine how many trips have started there.

In [10]:
data.groupby("PULocationID").size().reset_index(name='Numeber of trips')

     PULocationID  Numeber of trips
0               1               753
1               2                 3
2               3                70
3               4              9902
4               5                39
..            ...               ...
255           261             34229
256           262             85591
257           263            123997
258           264             43779
259           265              3090

[260 rows x 2 columns]

## 7- Cluster the pickup time of the day into 30-minute intervals (e.g. from 02:00 to 02:30)

In [11]:

intervals= list(pd.date_range(start = "00:00", end= "23:30", freq = "30min").strftime("%H:%M")) #end="24:00" makes some issues, we add 24:00 manually
intervals.append("00:00")
labels = [f"{intervals[i]}-{intervals[i + 1]}" for i in range(len(intervals) - 1)]

data['30_min_interval'] = pd.cut(
    #converts the pick up time into minutes to assign it to the minute interval corresponding to the label  
    pd.to_datetime(data['tpep_pickup_datetime'], format='%H:%M:%S').dt.hour * 60 + pd.to_datetime(data['tpep_pickup_datetime'], format='%H:%M:%S').dt.minute,
    bins=range(0, 1441, 30), #24*60 + 1 limits of interval in minutes 
    labels=labels, #label of interval
    right=False #interval closed on the left and open on the right
)

data[['tpep_pickup_datetime', '30_min_interval']]

        tpep_pickup_datetime 30_min_interval
0        2020-01-01 00:28:15     00:00-00:30
1        2020-01-01 00:35:39     00:30-01:00
2        2020-01-01 00:47:41     00:30-01:00
3        2020-01-01 00:55:23     00:30-01:00
4        2020-01-01 00:01:58     00:00-00:30
...                      ...             ...
6339562  2020-01-31 23:38:07     23:30-00:00
6339563  2020-01-31 23:00:18     23:00-23:30
6339564  2020-01-31 23:24:22     23:00-23:30
6339565  2020-01-31 23:44:22     23:30-00:00
6339566  2020-01-31 23:19:37     23:00-23:30

[6339567 rows x 2 columns]

In [12]:
data

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,trip_duration,30_min_interval
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5,0 days 00:04:48,00:00-00:30
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5,0 days 00:07:25,00:30-01:00
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5,0 days 00:06:11,00:30-01:00
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0,0 days 00:04:51,00:30-01:00
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0,0 days 00:02:18,00:00-00:30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6339562,2.0,2020-01-31 23:38:07,2020-01-31 23:52:21,1.0,2.10,1.0,N,163,246,1.0,11.0,0.5,0.5,2.96,0.0,0.3,17.76,2.5,0 days 00:14:14,23:30-00:00
6339563,2.0,2020-01-31 23:00:18,2020-01-31 23:19:18,1.0,2.13,1.0,N,164,79,1.0,13.0,0.5,0.5,3.36,0.0,0.3,20.16,2.5,0 days 00:19:00,23:00-23:30
6339564,2.0,2020-01-31 23:24:22,2020-01-31 23:40:39,1.0,2.55,1.0,N,79,68,1.0,12.5,0.5,0.5,3.26,0.0,0.3,19.56,2.5,0 days 00:16:17,23:00-23:30
6339565,2.0,2020-01-31 23:44:22,2020-01-31 23:54:00,1.0,1.61,1.0,N,100,142,2.0,8.5,0.5,0.5,0.00,0.0,0.3,12.30,2.5,0 days 00:09:38,23:30-00:00
6339566,2.0,2020-01-31 23:19:37,2020-01-31 23:20:41,1.0,0.00,1.0,N,193,193,1.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0 days 00:01:04,23:00-23:30

## 8- For each interval, determine the average number of passengers and the average fare amount.

In [13]:
#check if there are anomalous values in fare_amount column
data[data["fare_amount"]<0]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,trip_duration,30_min_interval
160,2.0,2020-01-01 00:54:28,2020-01-01 00:58:41,1.0,0.60,1.0,N,170,137,3.0,-4.5,-0.5,-0.5,0.0,0.0,-0.3,-8.3,-2.5,0 days 00:04:13,00:30-01:00
372,2.0,2020-01-01 00:57:13,2020-01-01 00:58:05,1.0,0.11,1.0,N,260,260,3.0,-2.5,-0.5,-0.5,0.0,0.0,-0.3,-3.8,0.0,0 days 00:00:52,00:30-01:00
667,2.0,2020-01-01 00:36:31,2020-01-01 00:37:23,3.0,0.18,1.0,N,141,141,3.0,-3.0,-0.5,-0.5,0.0,0.0,-0.3,-6.8,-2.5,0 days 00:00:52,00:30-01:00
677,2.0,2020-01-01 00:23:15,2020-01-01 00:23:54,2.0,0.09,1.0,N,114,114,3.0,-2.5,-0.5,-0.5,0.0,0.0,-0.3,-6.3,-2.5,0 days 00:00:39,00:00-00:30
1007,2.0,2020-01-01 00:13:39,2020-01-01 00:24:26,2.0,1.26,1.0,N,249,68,4.0,-8.5,-0.5,-0.5,0.0,0.0,-0.3,-12.3,-2.5,0 days 00:10:47,00:00-00:30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6337812,2.0,2020-01-31 23:24:40,2020-01-31 23:50:34,3.0,4.49,1.0,N,148,48,2.0,-19.5,-0.5,-0.5,0.0,0.0,-0.3,-23.3,-2.5,0 days 00:25:54,23:00-23:30
6338071,2.0,2020-01-31 23:52:53,2020-02-01 00:22:09,1.0,7.28,1.0,N,229,36,4.0,-25.5,-0.5,-0.5,0.0,0.0,-0.3,-29.3,-2.5,0 days 00:29:16,23:30-00:00
6338169,2.0,2020-01-31 23:25:44,2020-01-31 23:29:59,1.0,0.96,1.0,N,48,186,4.0,-5.0,-0.5,-0.5,0.0,0.0,-0.3,-8.8,-2.5,0 days 00:04:15,23:00-23:30
6338894,2.0,2020-01-31 23:30:03,2020-01-31 23:38:09,1.0,0.84,1.0,N,48,186,3.0,-6.5,-0.5,-0.5,0.0,0.0,-0.3,-10.3,-2.5,0 days 00:08:06,23:30-00:00
6338945,2.0,2020-01-31 23:07:34,2020-01-31 23:10:58,1.0,0.47,1.0,N,68,186,4.0,-4.0,-0.5,-0.5,0.0,0.0,-0.3,-7.8,-2.5,0 days 00:03:24,23:00-23:30

In [14]:
#remove nevative and 0 values in fare_amount column, probably are errors 
data_fare_amount = data[data['fare_amount'] >= 0]
data_fare_amount.groupby("30_min_interval").agg(
    Average_Passenger_Per_Trips=('passenger_count', 'mean'),   
    Average_Fare_Amount=('fare_amount',  'mean')             
).reset_index()
#agg to aggregate the function and rename the column easly
#we used this methon instead data.groupby("30_min_interval")[['passenger_count',''total_amount']].mean() to rename easly and write less rows of code
# no renames function

C:\Users\HP\AppData\Local\Temp\ipykernel_1456\2533304739.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  data_fare_amount.groupby("30_min_interval").agg(

   30_min_interval  Average_Passenger_Per_Trips  Average_Fare_Amount
0      00:00-00:30                     1.573541            13.637092
1      00:30-01:00                     1.585259            13.336443
2      01:00-01:30                     1.579953            12.829055
3      01:30-02:00                     1.589919            12.395781
4      02:00-02:30                     1.587840            12.223260
5      02:30-03:00                     1.588336            12.205971
6      03:00-03:30                     1.584027            12.703375
7      03:30-04:00                     1.587392            13.296394
8      04:00-04:30                     1.581070            14.433204
9      04:30-05:00                     1.516303            16.655669
10     05:00-05:30                     1.483793            18.865115
11     05:30-06:00                     1.414628            15.817354
12     06:00-06:30                     1.393865            14.680598
13     06:30-07:00                     1.383898            12.386389
14     07:00-07:30                     1.415515            12.322006
15     07:30-08:00                     1.449593            11.827714
16     08:00-08:30                     1.458905            12.009428
17     08:30-09:00                     1.444129            11.922678
18     09:00-09:30                     1.453320            12.130045
19     09:30-10:00                     1.469645            11.943769
20     10:00-10:30                     1.486927            12.117229
21     10:30-11:00                     1.494307            11.908843
22     11:00-11:30                     1.502412            11.957006
23     11:30-12:00                     1.500763            11.707411
24     12:00-12:30                     1.499753            11.971416
25     12:30-13:00                     1.498937            12.045664
26     13:00-13:30                     1.506856            12.438527
27     13:30-14:00                     1.514171            12.642597
28     14:00-14:30                     1.511929            13.053887
29     14:30-15:00                     1.509302            12.855182
30     15:00-15:30                     1.525655            12.958644
31     15:30-16:00                     1.522191            12.961062
32     16:00-16:30                     1.516073            13.364194
33     16:30-17:00                     1.513112            13.020027
34     17:00-17:30                     1.514332            12.760345
35     17:30-18:00                     1.523487            12.296903
36     18:00-18:30                     1.518382            12.216227
37     18:30-19:00                     1.525676            11.974730
38     19:00-19:30                     1.525484            11.947096
39     19:30-20:00                     1.529449            12.074922
40     20:00-20:30                     1.530430            12.578324
41     20:30-21:00                     1.539815            12.780106
42     21:00-21:30                     1.552090            12.812464
43     21:30-22:00                     1.564985            12.628741
44     22:00-22:30                     1.566097            12.883642
45     22:30-23:00                     1.571739            13.253897
46     23:00-23:30                     1.569359            13.342343
47     23:30-00:00                     1.570846            13.306073

## 9- For each payment type and each interval, determine the average fare amount

In [15]:
data_fare_amount.groupby(["payment_type","30_min_interval"])['fare_amount'].mean().reset_index(name="average fare amount")

C:\Users\HP\AppData\Local\Temp\ipykernel_1456\549102058.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  data_fare_amount.groupby(["payment_type","30_min_interval"])['fare_amount'].mean().reset_index(name="average fare amount")

     payment_type 30_min_interval  average fare amount
0             1.0     00:00-00:30            13.869142
1             1.0     00:30-01:00            13.472521
2             1.0     01:00-01:30            12.824603
3             1.0     01:30-02:00            12.357974
4             1.0     02:00-02:30            12.008589
..            ...             ...                  ...
235           5.0     21:30-22:00                  NaN
236           5.0     22:00-22:30                  NaN
237           5.0     22:30-23:00                  NaN
238           5.0     23:00-23:30                  NaN
239           5.0     23:30-00:00                  NaN

[240 rows x 3 columns]

In [16]:
#check the payment_type == 5.0
data_fare_amount[data_fare_amount["payment_type"]== 5.0] # it's correct that all the intervals, except 17:30-18:00, return NaN values

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,trip_duration,30_min_interval
4061635,1.0,2020-01-21 17:46:46,2020-01-21 17:52:29,1.0,0.0,1.0,N,145,145,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0 days 00:05:43,17:30-18:00

## 10 - For each payment type, determine the interval when the average fare amount is maximum

In [17]:
## 10 - For each payment type, determine the interval when the average fare amount is maximum
newdataframe = data.groupby(["payment_type","30_min_interval"])['fare_amount'].mean().reset_index()  
newdataframe = newdataframe.iloc[newdataframe.groupby("payment_type")['fare_amount'].idxmax()]
newdataframe

C:\Users\HP\AppData\Local\Temp\ipykernel_1456\3982687107.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  newdataframe = data.groupby(["payment_type","30_min_interval"])['fare_amount'].mean().reset_index()

     payment_type 30_min_interval  fare_amount
10            1.0     05:00-05:30    21.256949
58            2.0     05:00-05:30    14.846814
110           3.0     07:00-07:30    10.950938
154           4.0     05:00-05:30     6.634043
227           5.0     17:30-18:00     0.000000

## 11 - For each payment type, determine the interval when the overall ratio between the tip and the fare amounts is maximum

In [18]:
#i can have the same problem of the fare_amount with the negative values, anyway we search the maximun values
#it is not necessary to do another dataset
newdata = data.dropna(subset=['tip_amount', 'fare_amount'])  # Drop rows with missing values
newdata = newdata[newdata['fare_amount'] != 0]  # Exclude rows where fare_amount is zero, if we have 0 the result of the division  will be Inf
newdata['overall_tip_to_fare_ratio'] = newdata['tip_amount'] / newdata['fare_amount']
newdataframe = newdata.groupby(['payment_type', '30_min_interval'])['overall_tip_to_fare_ratio'].mean().reset_index()
newdataframe = newdataframe.iloc[newdataframe.groupby("payment_type")['overall_tip_to_fare_ratio'].idxmax()]
newdataframe

C:\Users\HP\AppData\Local\Temp\ipykernel_1456\3682340860.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  newdataframe = newdata.groupby(['payment_type', '30_min_interval'])['overall_tip_to_fare_ratio'].mean().reset_index()

     payment_type 30_min_interval  overall_tip_to_fare_ratio
3             1.0     01:30-02:00                   0.503453
66            2.0     09:00-09:30                   0.000051
138           3.0     21:00-21:30                   0.023336
164           4.0     10:00-10:30                   0.007890

In [19]:
without_intervals = newdataframe[["payment_type","30_min_interval"]]
without_intervals

     payment_type 30_min_interval
3             1.0     01:30-02:00
66            2.0     09:00-09:30
138           3.0     21:00-21:30
164           4.0     10:00-10:30

## 12 - Find the location with the highest average fare amount

In [20]:
#we use the dataframe with only positive fare_amount, but it was not necessary because the maximum value is a positive value
df=data_fare_amount.groupby('DOLocationID')['fare_amount'].mean().reset_index()
max=df.loc[df['fare_amount'].idxmax()]
max

DOLocationID    44.000000
fare_amount     91.283051
Name: 43, dtype: float64

## 13 - Build a new dataframe (called common) where, for each pickup location we keep all trips to the 5 most common destinations (i.e. each pickup location can have different common destinations).

In [21]:
trips_count = data.groupby(['PULocationID', 'DOLocationID']).size().reset_index(name='trip_count')
trips_count = trips_count.sort_values(['PULocationID', 'trip_count'], ascending=[True, False])
common = trips_count.groupby('PULocationID').apply(lambda group: group.head(5)).reset_index(drop=True) #head(5) first 5 rows for each PULocationID
common

C:\Users\HP\AppData\Local\Temp\ipykernel_1456\1304573869.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  common = trips_count.groupby('PULocationID').apply(lambda group: group.head(5)).reset_index(drop=True) #head(5) first 5 rows for each PULocationID

      PULocationID  DOLocationID  trip_count
0                1             1         636
1                1           264         105
2                1           265           4
3                1           138           2
4                1            50           1
...            ...           ...         ...
1255           265           265        2496
1256           265           264         317
1257           265             1          76
1258           265            48          18
1259           265           132           8

[1260 rows x 3 columns]

## 14 - On the common dataframe, for each payment type and each interval, determine the average fare amount

In [22]:
# merge common with data to concat the values 
#we use again the df with fare_amount>=0
common = data_fare_amount.merge(
    common,  # Merge with top destinations
    on=['PULocationID', 'DOLocationID'],  # Match on PULocationID and DOLocationID
    how='inner'  # Retain only matching rows
)
common = common.drop_duplicates(subset=['PULocationID', 'DOLocationID'])

common = common.sort_values(['PULocationID', 'trip_count'], ascending=[True, False])

common

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,trip_duration,30_min_interval,trip_count
13742,2.0,2020-01-01 04:41:47,2020-01-01 04:42:22,4.0,0.00,5.0,N,1,1,1.0,...,0.0,0.5,5.00,0.00,0.3,94.80,0.0,0 days 00:00:35,04:30-05:00,636
12022,2.0,2020-01-01 03:04:44,2020-01-01 03:06:37,2.0,0.00,5.0,N,1,264,1.0,...,0.0,0.0,5.00,0.00,0.3,95.30,0.0,0 days 00:01:53,03:00-03:30,105
31793,2.0,2020-01-01 16:51:45,2020-01-01 17:05:16,1.0,0.00,1.0,N,1,265,1.0,...,0.0,0.5,0.00,0.00,0.3,9.80,0.0,0 days 00:13:31,16:30-17:00,4
460257,2.0,2020-01-09 11:45:00,2020-01-09 12:20:49,1.0,32.50,3.0,N,1,138,1.0,...,0.0,0.0,30.42,20.37,0.3,152.09,0.0,0 days 00:35:49,11:30-12:00,2
33248,2.0,2020-01-01 17:25:12,2020-01-01 17:49:36,2.0,16.07,3.0,N,1,50,1.0,...,0.0,0.0,12.00,17.50,0.3,90.30,0.0,0 days 00:24:24,17:00-17:30,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352,2.0,2020-01-01 00:49:43,2020-01-01 00:50:46,1.0,0.00,5.0,N,265,265,1.0,...,0.0,0.0,0.00,10.50,0.3,55.80,0.0,0 days 00:01:03,00:30-01:00,2496
3049,2.0,2020-01-01 00:55:37,2020-01-01 01:01:37,1.0,0.56,5.0,N,265,264,2.0,...,0.0,0.0,0.00,0.00,0.3,20.30,0.0,0 days 00:06:00,00:30-01:00,317
14660,1.0,2020-01-01 06:54:54,2020-01-01 07:05:26,2.0,5.20,5.0,N,265,1,1.0,...,0.0,0.0,0.00,0.00,0.3,20.30,0.0,0 days 00:10:32,06:30-07:00,76
512983,1.0,2020-01-10 06:45:00,2020-01-10 06:51:48,1.0,1.70,1.0,N,265,48,2.0,...,2.5,0.5,0.00,13.75,0.3,24.05,2.5,0 days 00:06:48,06:30-07:00,18
648523,2.0,2020-01-12 03:23:23,2020-01-12 03:33:15,1.0,5.32,1.0,N,265,132,1.0,...,0.5,0.5,0.00,0.00,0.3,17.80,0.0,0 days 00:09:52,03:00-03:30,8

In [23]:
common.groupby(['payment_type', '30_min_interval'])['fare_amount'].mean().reset_index(name="average_fare_amount")

C:\Users\HP\AppData\Local\Temp\ipykernel_1456\2075123148.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  common.groupby(['payment_type', '30_min_interval'])['fare_amount'].mean().reset_index(name="average_fare_amount")

     payment_type 30_min_interval  average_fare_amount
0             1.0     00:00-00:30             9.331646
1             1.0     00:30-01:00            10.807846
2             1.0     01:00-01:30            17.757188
3             1.0     01:30-02:00            13.075000
4             1.0     02:00-02:30            17.812500
..            ...             ...                  ...
187           4.0     21:30-22:00                  NaN
188           4.0     22:00-22:30                  NaN
189           4.0     22:30-23:00                  NaN
190           4.0     23:00-23:30                  NaN
191           4.0     23:30-00:00                  NaN

[192 rows x 3 columns]

## 15 - Compute the difference of the average fare amount computed in the previous point with those computed at point 9.

In [24]:
#point 9 dataframe
df1 = data_fare_amount.groupby(["payment_type","30_min_interval"])['fare_amount'].mean().reset_index(name="average fare amount")
# point 14 dataframe
df2 = common.groupby(['payment_type', '30_min_interval'])['fare_amount'].mean().reset_index(name="average_fare_amount")
df1["average fare amount"] - df2["average_fare_amount"]

C:\Users\HP\AppData\Local\Temp\ipykernel_1456\2424208610.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df1 = data_fare_amount.groupby(["payment_type","30_min_interval"])['fare_amount'].mean().reset_index(name="average fare amount")
C:\Users\HP\AppData\Local\Temp\ipykernel_1456\2424208610.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df2 = common.groupby(['payment_type', '30_min_interval'])['fare_amount'].mean().reset_index(name="average_fare_amount")

0      4.537496
1      2.664675
2     -4.932584
3     -0.717026
4     -5.803911
         ...
235         NaN
236         NaN
237         NaN
238         NaN
239         NaN
Length: 240, dtype: float64

## 16 - Compute the ratio between the differences computed in the previous point and those computed in point 9. Note: you have to compute a ratio for each pair (payment type, interval).

In [25]:
df1["differences"] = df1["average fare amount"] - df2["average_fare_amount"]
df1["ratio"] = df1["differences"] / df1["average fare amount"]
df1[["payment_type","30_min_interval","ratio"]]

     payment_type 30_min_interval     ratio
0             1.0     00:00-00:30  0.327165
1             1.0     00:30-01:00  0.197786
2             1.0     01:00-01:30 -0.384619
3             1.0     01:30-02:00 -0.058021
4             1.0     02:00-02:30 -0.483313
..            ...             ...       ...
235           5.0     21:30-22:00       NaN
236           5.0     22:00-22:30       NaN
237           5.0     22:30-23:00       NaN
238           5.0     23:00-23:30       NaN
239           5.0     23:30-00:00       NaN

[240 rows x 3 columns]

## 17 - Build chains of trips. Two trips are consecutive in a chain if (a) they have the same VendorID, (b) the pickup location of the second trip is also the dropoff location of the first trip, (c) the pickup time of the second trip is after the dropoff time of the first trip, and (d) the pickup time of the second trip is at most 2 minutes later than the dropoff time of the first trip.

In [26]:

data_sorted = data.sort_values(by=["VendorID", "tpep_dropoff_datetime", "tpep_pickup_datetime"])

# We create columns to compare the current trip with the previous one
data_sorted["prev_DOLocationID"] = data_sorted["DOLocationID"].shift(1)
data_sorted["prev_VendorID"] = data_sorted["VendorID"].shift(1)
data_sorted["prev_tpep_dropoff_datetime"] = data_sorted["tpep_dropoff_datetime"].shift(1)
data_sorted["prev_PULocationID"] = data_sorted["PULocationID"].shift(1)

# time difference between pickup e dorpoff of 2 different trips
data_sorted["time_diff"] = (data_sorted["tpep_pickup_datetime"] - data_sorted["prev_tpep_dropoff_datetime"]).dt.total_seconds()

# Chain condition
is_chain = (
    (data_sorted["VendorID"] == data_sorted["prev_VendorID"]) &  # Same VendorID
    (data_sorted["PULocationID"] == data_sorted["prev_DOLocationID"]) &  # current Pickup  = previous Dropoff 
    (data_sorted["time_diff"].between(0, 120))  
) 

# Let's create a column that identifies the chains
data_sorted["chain_id"] = (is_chain == False).cumsum() #True start of a chain, False represents consecutive trips that are part of the same chain.

data_sorted[["VendorID", "PULocationID", "DOLocationID", "tpep_pickup_datetime", "tpep_dropoff_datetime", "chain_id"]]

,VendorID,PULocationID,DOLocationID,tpep_pickup_datetime,tpep_dropoff_datetime,chain_id
1487,1.0,79,79,2020-01-01 00:01:40,2020-01-01 00:01:52,1
10545,1.0,158,158,2020-01-01 00:00:50,2020-01-01 00:02:32,2
5050,1.0,75,75,2020-01-01 00:00:07,2020-01-01 00:03:26,3
7236,1.0,141,140,2020-01-01 00:01:55,2020-01-01 00:04:34,4
12297,1.0,236,236,2020-01-01 00:01:01,2020-01-01 00:04:46,5
...,...,...,...,...,...,...
4269480,2.0,236,262,2020-07-10 11:34:11,2020-07-10 11:42:41,6339448
4282277,2.0,236,43,2020-07-31 18:50:41,2020-07-31 18:54:12,6339449
275044,2.0,142,161,2021-01-02 00:22:00,2021-01-02 00:36:50,6339450
275045,2.0,170,148,2021-01-02 00:44:08,2021-01-02 00:58:56,6339451
275046,2.0,90,148,2021-01-02 01:12:10,2021-01-02 01:25:01,6339452